.container {
    width: 900px;
    height: 750px;
    margin-left: 10px;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

p, .x-label, .y-label {
    padding-left: 10px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}

.bar { 
    fill: steelblue;  
}

.cir {
    fill: steelblue; 
}

.axis { 
    font-size: 80%; 
    font-weight: bold;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.author {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
    height: 100px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

.previous {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 8px;
    margin-right: 5px;
}

.next {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 16px;
    background-color: #04AA6D;
    color: white;
    border-radius: 8px;
    margin-left: 5px;
}

.category-selection {
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 8px 10px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 8px;
    margin-right: 3px;
    margin-left: 15px;
}

.tooltip {
    position: absolute;
    text-align: center;
    height: 20px;
    padding: 2px;
    font: 80% sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

rect:hover {
    fill: lightsteelblue;
}
